html {
  -webkit-app-region: drag;
  font-size: 12px;
  padding: 2rem;
}



html, body {
  background: #234;
}

.card {

background: linear-gradient(to bottom, #b1b3c5 0%,#eaebf4 100%);  box-shadow: 4px 4px 8px 4px #123;

}
